<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/transactions">Thedi</a>
        <button mat-icon-button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <mat-icon class="navbar-toggler-icon material-symbols-outlined">menu</mat-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="transactions">
                        <button mat-raised-button color="tertiary">
                          <mat-icon class="material-symbols-outlined">send_money</mat-icon>
                          Transactions
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="file-vault">
                        <button mat-raised-button color="primary">
                          <mat-icon class="material-symbols-outlined">folder_open</mat-icon>
                          File Vault
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup">
                        <button mat-raised-button color="primary">
                          <mat-icon class="material-symbols-outlined">person_add</mat-icon>
                          Sign-Up
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="signin">
                        <button mat-raised-button color="warn">
                          <mat-icon class="material-symbols-outlined">login</mat-icon>
                          Sign-In
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="admin">
                        <button mat-raised-button color="warn">
                          <mat-icon class="material-symbols-outlined">shield</mat-icon>
                          Admin
                        </button>
                    </a>
                </li>
            </ul>


            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>



<router-outlet></router-outlet>